# Виртуальное окружение
venv/
ENV/
env/
.venv/

# Файлы секретов
.env
.env.*

# Базы данных
*.db
*.sqlite
*.sqlite3

# Кеш и логи Python
__pycache__/
*.pyc
*.pyo
*.log

# История редакторов и автосохранения
.history/